
*.PcbDocPreview
*.SchDocPreview
*.PcbDoc
*.PrjPcb
*.PrjPcbStructure
*.Zip
*.LOG
*.jpg
*.bat
*.TMP
*.o
*.crf
*.d
*.htm
*.axf
*.iex
*.map
*.dep
*.hex
*.lst
*.lnp
*.sct
*.Bak
*.Administrator
*.fire
*.WZC
*.uvopt
*.uvoptx
*.saved_uv4
*.uvprojx
*.txt
*.ini
*.H
*.OBJ
*.pdf
*.exe
*.rar
*.PO
*.IMD
*.IMB
*.IAD
*.IAB
*.PFI
*.PR
*.PRI
*.PS
*.WK3
*.ASUS
机械臂/电阻屏/电阻屏/NRF24L01客户资料/NRF24L01程序/参考程序/NRF24L01模块/NRF24L01多节点接收/NRF24L01模块
*.M51
*.uvproj
*.plg
*.SchDoc
